body{ 
    background-image: linear-gradient( rgb(228, 228, 228), rgb(206, 240, 199));
} 

img{
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

nav{
    background-color: rgb(29, 85, 15);
   color: white;
}

.h1{
    color: #4dca2e;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.imghover:hover{
    height: 140px;
    width: 140px;
}

main p{
    padding-top: 20px;
}

main{
    grid-area: main;
    padding: 100px;
    padding-top: 40px;
    padding-bottom: 0px;
}

section{
    grid-area: section;
}

footer{
    background-color: rgb(16, 144, 16);
    grid-area: footer;
    font-size: 14px;
}

.gridarea{
    display: grid;
   grid-template-areas: 
   "main section"
   "footer footer";
       

    grid-template-rows:  1fr 50px;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    grid-gap: 10px; 
}

section{
    padding-top: 50px;
    display: grid;
    grid-template-rows: 90px 140px 140px 90px 100px 0px 0px 0px ; 
    grid-template-columns: 0px 0px 90px 140px 140px 90px 100px 40px;
    
}

.physical, .emotional, .spiritual, .financial, .environmental, .social, .vocational, .intellectual{
    height: 120px;
    width: 120px;
    box-shadow: 10px 10px 30px black;

}

.item1{
    grid-row:1/2;
    grid-column: 5/6;
}

.item2{
    grid-row:2/3;
    grid-column: 6/7;
}

.item3{
    grid-row:3/4;
    grid-column: 7/8;
}

.item4{
    grid-row:4/5;
    grid-column: 6/7;
}
.item5{
    grid-row:5/6;
    grid-column: 5/6;
}
.item6{
    grid-row:4/5;
    grid-column: 4/5;
}
.item7{
    grid-row:3/4;
    grid-column: 3/4;
}
.item8{
    grid-row:2/3;
    grid-column: 4/5;
}


@media all and (max-width: 1024px) 
{
    .gridarea{
        grid-template-areas: 
        "main"
        "section"
        "footer";
        grid-template-rows: 1fr 1fr 50px;
        grid-template-columns: 1fr;
        width: 100%;
    }

    section{
        padding-left: 100px;
    }

}

@media screen and (max-width: 767px) 
{ 


    .gridarea{
        grid-template-areas: 
        "main"
        "section"
        "footer";
        grid-template-rows: 1fr 1fr 50px;
        grid-template-columns: 1fr;
        width: 100%;  
    }

    
    section{
        display: flex;
        grid-gap:20px;
        padding: 10px;
        flex-direction: column;
        width: 100%;
        /* border: 1px solid black; */
        align-items: center;
    }

    main{
        max-height: 900px;
    }
} 

label {
    display: block;
    margin-bottom: 8px;
}

.Feedback input, textarea {
    width: 70%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
    
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.carouselphoto{
    border-radius: 0;
    z-index: 2;
    opacity: 0.5;
}

.Copyright{
    display: flex;
    justify-content: center;
    margin-top: -10px;
  
}

.Copyright a {
    text-decoration: none;
    color: aliceblue;
}

h5{
    font-size: 20px;
    text-align: center;
}

.carouselbg{
    background-color: black;
}

.aboutus{
    text-align: center; 
    padding: 50px;
    color: #12b922;
}

.aboutus p{
    color: black;
}

.environmentaltext,.emotionaltext,.financialtext,.intellectualtext,.occupationaltext,.physicaltext,.socialtext,.spiritualtext{
    padding: 50px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}  

.fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }

  .icons{
    display: flex;
    justify-content: center;
  }

  .row{
    display: grid;
    grid-template-areas:
    "ContactUs Feedback" ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .ContactUs{
grid-area: ContactUs;
  }

  .Feedback{
    grid-area: Feedback;
  }
  
  @media screen and (max-width: 767px) 
  {
    .row{
        display: grid;
        grid-template-areas:
        "ContactUs"
        "Feedback" ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
      }
    
      .ContactUs{
    grid-area: ContactUs;
      }
    
      .Feedback{
        grid-area: Feedback;
      }
  }

  .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 50px 0px;
    
  }

  .container h2{
    font-size: 20px;
    color: #000000;
  }

  h3{
    padding-left: 40px;
  }

  .container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 10px 35px 80px rgb(0, 0, 0,);
  }



  .container .card:hover{
    height: 400px;
    background-color: hsl(75, 100%, 81%);
  }

  .container .card .imgBx{
    position:absolute;
    top: 20px;
    left: 25px;
    width:250px ;
    height: 220px;
    background: #333;
    overflow: hidden;
    border-radius: 12px;
    transition: 0.5s;
  }

  .container .card:hover .imgBx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgb(0, 0, 0, 0.15);
  }

  .container .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 0;
  }

  .container .card .content{
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
  }

  .container .card:hover .content{
    top: 130px;
    height: 250px;
  }

.parent-container h1{
    text-align: center;
    padding:0px;
    padding-bottom: 20px;
}

iframe{
    height: 300px;
    width: 400px;
}

.blink{
    color: #bcffa9;
    font-size: 3em;
    text-shadow: 
        0 0 5px #ffa500,
        0 0 15px #ffa500,
        0 0 20px #ffa500,
        0 0 40px #ffa500,
        0 0 60px #ff0000,
        0 0 10px #ffa500,
        0 0 98px #ff0000;
        text-align: center;
        animation: blink 3s infinite;
}

@keyframes blink {
    20%,
    24%,
    55% {
        color: #111;
        text-shadow:none;
    }

    0%,
    19%,
    21%,
    24%,
    25%,
    54%,
    56%,
    100% {
        text-shadow:
        0 0 5px #b3ff00,
        0 0 15px #59ff00,
        0 0 20px #73ff00,
        0 0 40px #2f5705,
        0 0 60px #313f05,
        0 0 10px #233103,
        0 0 98px #021900;
        color: #fcfcfc;
    }
}

.carousel-inner .carousel-item img{
    width: 100%;
    height: 500px;
}