body{ 
    background-color: #e4f4e4;

} 

img{
    height: 40px;
    width: 40px;
    border-radius: 100px;
}


nav{
    background-color: rgb(29, 85, 15);
   color: white;
}

.h1{
    color: #277529;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px rgb(108, 219, 108);
}

.imghover:hover{
    height: 140px;
    width: 140px;
}

main p{
    padding-top: 20px;
}

main{
    /* background-color: aqua; */
    grid-area: main;
    padding: 100px;
    padding-top: 40px;

}

section{
    /* background-color: aqua; */
    grid-area: section;
}
footer{
    background-color: rgb(16, 144, 16);
    grid-area: footer;
    font-size: 14px;
}


.gridarea{
    display: grid;
   grid-template-areas: 
   "main section"
   "footer footer";
       

    grid-template-rows:  1fr 50px;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    grid-gap: 10px;

    
    
}

section{
    padding-top: 50px;

    display: grid;
    grid-template-rows: 90px 140px 140px 90px 100px 0px 0px 0px ; 
    grid-template-columns: 0px 0px 90px 140px 140px 90px 100px 40px;
    
}

.physical, .emotional, .spiritual, .financial, .environmental, .social, .vocational, .intellectual{
    height: 120px;
    width: 120px;
    box-shadow: 10px 10px 30px black;

}

.item1{
    grid-row:1/2;
    grid-column: 5/6;
}

.item2{
    grid-row:2/3;
    grid-column: 6/7;
}

.item3{
    grid-row:3/4;
    grid-column: 7/8;
}

.item4{
    grid-row:4/5;
    grid-column: 6/7;
}
.item5{
    grid-row:5/6;
    grid-column: 5/6;
}
.item6{
    grid-row:4/5;
    grid-column: 4/5;
}
.item7{
    grid-row:3/4;
    grid-column: 3/4;
}
.item8{
    grid-row:2/3;
    grid-column: 4/5;
}


@media all and (max-width: 1024px) 
{
    .gridarea{
        grid-template-areas: 
        "main"
        "section"
        "footer";
        grid-template-rows: 1fr 1fr 50px;
        grid-template-columns: 1fr;
        width: 100%;
        
    }

}

@media screen and (max-width: 767px) 
{ 


    .gridarea{
        grid-template-areas: 
        "main"
        "section"
        "footer";
        grid-template-rows:1fr 1fr 50px;
        grid-template-columns: 1fr;
        width: 100%;
        
        
        
    }
    
    section{
        display: flex;
        grid-gap:20px;
        padding: 10px;
        flex-direction: column;
        width: 100%;
        /* border: 1px solid black; */
        align-items: center;
    }
} 


label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.carouselphoto{
    border-radius: 0;
    z-index: 2;
    opacity: 0.5;
}

.carousel-caption h1{
    /* text-shadow: 5px 5px 5px black; */

}

.Copyright{
    display: flex;
    justify-content: center;
    margin-top: -10px;
  
}

.Copyright a {
    text-decoration: none;
    color: aliceblue;
}

h5{
    font-size: 20px;
    /* border: 2px solid green; */
    text-align: center;
    /* text-shadow: 5px 5px 5px black; */
    
    

}

.carouselbg{
    background-color: black;
}

.aboutus{
    text-align: center; 
    padding: 50px;
    color: #12b922;
}

.aboutus p{
    color: black;
}

.environmentaltext,.emotionaltext,.financialtext,.intellectualtext,.occupationaltext,.physicaltext,.socialtext,.spiritualtext{
    padding: 50px;
}

p:hover{
    font-size: 19px;
    /* background-color: #a7edae; */
   
}

li:hover{
    font-size: 19px;
    /* background-color: #a7edae; */
}

article li{
    line-height: 40px;
}